#centered {
  text-align: center;
}

header {
  font-family: "Carter One", cursive;
}

button {
  border-radius: 10px;
  border: 0px;
  padding: 10px;
}

#header-component {
  grid-area: header;
  border: 5px white solid;
  padding: 2%;
}

#diet-component {
  grid-area: diet;
  border: 5px white solid;
  padding: 5%;
}
#type-component {
  grid-area: type;
  border: 5px white solid;
  padding: 5%;
}

#cuisine-component {
  grid-area: cuisine;
  border: 5px white solid;
  padding: 5%;
}

#intolerance-component {
  grid-area: intolerance;
  border: 5px white solid;
  padding: 5%;
}

.max { 
  border: 5px white solid;
  padding: 5%;
}

#time {
  grid-area: time;
  border: 5px white solid;
}

#carbs {
  grid-area: carbs;
}

#protein {
  grid-area: protein;
}

#cal {
  grid-area: cal;
}


#select {
  grid-area: select;
  /* border: 5px white solid; */
  padding: 2%;
}

#grid-form {
  display: grid;
  grid-template-areas:
    'header header header header'
    'select select select select'
    'diet type cuisine intolerance'
    'time carbs protein cal';
  background-image: linear-gradient(greenyellow, aqua);
  border: 5px white solid;
}

.centered {
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  font-family: "Carter One", sans-serif;
}

.subpage-title {
  font-size: 35px;
}

.number-label,
.text-label {
  font-family: "Carter One", sans-serif;
  font-size: 20px;
}

.input-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
