#centered {
  text-align: center;
}

header {
  font-family: "Carter One", cursive;
}

button {
  border-radius: 10px;
  border: 0px;
  padding: 10px;
}

#grid-container {
  outline: green 5px solid;
  height: 100vh;
}
