.rand-container {
    border: 2px solid white;
    background: white;
    padding: 1vw;
    margin: 1vw;
    border-radius: 5px;
    
}

#rand-recipe-header {
    font-size: 45px;
    text-align: center;
    padding-top: 20px;
}

.rand-container {
    flex-direction: column;
    width: 30vw;
}

#recipes-container,
#recipe-generator {
    display: flex;
}

.info-button:hover,
.favorite-button:hover {
    background-color: aqua;
}

.info-button,
.favorite-button {
    background-color: greenyellow;
    color: black;
    border-radius: 5px;
    font-family: "Carter One", sans-serif;
    font-size: 16px;
    letter-spacing: 0.2px;
    transition: all 0.3s ease 0s;
}

.info-button {
    width: 49.5%;
    margin-right: 1%;
}

.favorite-button {
    width: 49.5%;
    margin: 0px;
}

.warning {
    color: red;
}

#content-container {
    background-image: linear-gradient(greenyellow, aqua);
    height: max-content;
}

p {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

subtitle {
  font-size: 18px;
  font-family: "Carter One";
  color: #353839;
}

img {
    width: 100%;
    border-radius: 5px;
}

.recipe-card {
    border-radius: 5px;
    border: 2px solid blue;
    padding: 35px;
    margin: 35px;
}